* {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000; /* Asegura que el panel esté por encima del mapa */
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar.open {
    transform: translateX(0);
}

#text-sidebar h2{
    margin: 10px;
}

#text-sidebar p {
    margin: 10px;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    left: 10px;
    background: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1001;
    margin: 5px;
    /* Asegura que el botón esté por encima del mapa y del panel */
}

#sidebar-content {
    display: flex;
    flex-direction: column;
}

#geocod-component-container {
    display: flex;
    flex-direction: row;
}

#addInput{
    width: 30px;
    flex-shrink: 0;
}



.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;/* Primera fila para el encabezado, segunda fila para el mapa, tercera fila para el pie de página */
    height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
}

.header {
    background: #333;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 120%;
}

#map-container {
    position: relative; /* Relativo para que el mapa ocupe el espacio del contenedor */
}

#map-container {
    flex-grow: 1;
}

#footer {
    background: #333;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}
.custom-control {
    display: flex;
    align-items: center;
}

.custom-input {
    padding: 5px;
    width: 245px;
}

.custom-button {
    font-size: 16px;
    margin-left: 10px;
    padding: 0px 05px;
}

.custom-control-container {
    position: relative;

}


.leaflet-control{
    margin-top:10px;
    margin-left:5px;
}

.fa {
    margin: 5px;
}
/* Estilos para el contenedor del dropdown */
.dropdown {
    position: absolute;
    width: 95%;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
}

/* Estilos para cada opción del dropdown */
.dropdown div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.dropdown div:last-child {
    border-bottom: none;
}

/* Estilos para la opción seleccionada */
.dropdown div:hover,
.dropdown div.selected {
    background-color: #f0f0f0;
}

/* Estilos para la opción seleccionada con teclado */
.dropdown div:focus {
    outline: none;
    background-color: #e0e0e0;
}

/* Estilos específicos según el tipo de opción */
.tipus_address {
    color: red;
}

.tipus_topo1 {
    color: green;
}

.tipus_topo2 {
    color: blue;
}

.type-style {
    font-style: italic;
    color: black;
}

#geocod-component-container{
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#originDestCheckBox {
    margin-right: 10px;
}

.id-label{
    margin: 5px;
}

