* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;/* Primera fila para el encabezado, segunda fila para el mapa, tercera fila para el pie de página */
    height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
}

.header {
    background: #333;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 120%;
}

#map-container {
    position: relative; /* Relativo para que el mapa ocupe el espacio del contenedor */
}

#footer {
    background: #333;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}
.custom-control {
    display: flex;
    align-items: center;
}

.custom-input {
    margin-right: 5px;
}

.custom-button {
    margin-left: 5px;
}

.custom-control-container {
    position: relative;
    padding: 10px;
}

.card {
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    flex-grow: 1;
    margin-right: 10px;
}

.remove-btn {
    cursor: pointer;
    color: red;
}